<?xml version="1.0" encoding="UTF-8" ?>
<settings type="array">
  <category>
    <name>Allgemein</name>
    <setting>headings_color</setting>
    <setting>hover_color</setting>
    <setting>text_color</setting>
    <setting>body_background_color</setting>
    <setting>subheader_background_color</setting>
    <setting>subheader_text_color</setting>
  </category>
  <category>
    <name>Kopfbereich</name>
    <setting>header_background_color</setting>
    <setting>header_text_color</setting>
  </category>
  <category>
    <name>Navigation</name>
    <setting>nav_hover_color</setting>
    <setting>nav_item_background_color</setting>
    <setting>nav_current_background_color</setting>
    <setting>nav_background_color</setting>
  </category>
  <category>
    <name>Inhalt</name>
    <setting>content_background_color</setting>
  </category>
  <category>
    <name>Seitenbalken</name>
    <setting>sidebar_background_color</setting>
    <setting>sidebar_text_color</setting>
  </category>
  <category>
    <name>Fußbereich</name>
    <setting>footer_background_color</setting>
    <setting>footer_text_color</setting>
  </category>
</settings>
