html, body {
  height: 100%;
}

body {
  line-height: 20px;
}

h1 { font-size: 2em; line-height: 1.2em; margin-bottom: 0.8em; }
h2 { font-size: 1.5em; line-height: 1.2em; margin-bottom: 0.6em; }
h3 { font-size: 1.3em; line-height: 1.2em; margin-bottom: 0.4em;}
h4 { font-size: 1em; line-height: 1.2em; margin-bottom: 0 }

p { margin-bottom: 1em; }

a:link, a:visited, a:active {
  text-decoration: none;
}

#wrap {
  min-height: 100%;
}

.container {
  width:960px;
  margin:0 auto;
  position: relative;
}

.content_wrapper {
  margin: 40px 270px 80px 0;
  min-height: 350px;
}

/* reset backgrounds from site settings */

#footer, #nav, #content, #sidebar, #subheader, #nav li a {
  background-color: transparent !important;
}

ul#nav > li > a:hover {
  background-color: rgba(255,255,255,0.1) !important;
}

#header {
   font-size: 15px;
   height: 80px;
   width: 100%;
   border-bottom: 1px solid rgba(255,255,255,0.5);
   margin-bottom: 20px;
}

#header a {
   font-size: 22px;
   line-height: 38px;
   font-weight: bold;
}

#content {
  overflow:auto;
}


#sidebar {
  position: absolute;
  right: 0;
  width: 250px;
  top: 60px;
  border-left: 1px solid rgba(255,255,255,0.5);
}

#subheader {
  position: absolute;
  right: 0;
  top: 14px;
  text-align: right;
}

#subheader h1 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  font-family: Arial,Helvetica,sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

#userpage_content_contact_site_contact {
  padding: 0 20px;
}

#footer {
  position: relative;
  margin: 0 auto 40px auto;
  width: 940px;
  padding: 0 10px;
  line-height: 40px;
  text-align: right;
  clear: both;
  border: 1px solid rgba(255,255,255,0.5);
}

#footer a {
  font-size: 11px;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer ul li {
  border-right: 1px solid;
  display: inline;
  margin-left: 10px;
  padding-right: 10px;
}

#footer ul li:last-child {
  border: none;
  padding: 0;
}


ul#nav,
ul#nav ul {
  list-style: none; margin: 0; padding: 0;
}

ul#nav {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  border-left: 1px solid rgba(255,255,255,0.5);
}

ul#nav > li {
  float:left;
}


ul#nav > li > a,
ul#nav > li > span {
  display: block;
  line-height: 39px;
  padding: 0 25px;
  font-size: 13px;
  position: relative;
  border-right: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.5);
}


ul#nav .disclosure {
  font-size: 16px;
  line-height: 30px;
  position: absolute;
  right: 10px;
  top: 4px;
}

ul#nav li ul {
  left: -999em;
  position: absolute;
  background-color: transparent;
  padding: 5px 0;
  z-index: 70;
  top: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

ul#nav li > ul img.arrow_to_top {
  position: absolute;
  left: 10px;
  top: -8px;
}

/*ul#nav li > ul {
  top: -5px;
  left: 260px;
  width: 200px;
}*/

ul#nav li > ul img.arrow_to_top {
  position: absolute;
  left: 10px;
  top: -8px;
}

ul#nav li ul li {
  float: left;
  margin-right: 20px;
  text-align: left;
  
}

ul#nav li:hover ul, ul#menu li ul:hover { left: 0; }
/*ul#nav li:hover ul, li.over ul{ display: block; }*/


ul#nav li ul.children li a,
ul#nav li ul.children li span{
  color: #CCCCCC;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 !important;
  position: relative;
  text-transform: uppercase;
}

ul#nav li ul.children li.current span {
  font-weight: bold;
}

ul#nav li ul.children li a:hover {
  text-decoration: underline;
  color: #ccc;
}
